<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpower.system.mapper.SysMessageTemplateMapper">
    
    <resultMap type="com.yunpower.system.domain.SysMessageTemplate" id="SysMessageTemplateResult">
        <result property="id"    column="id"    />
        <result property="entId"    column="ent_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="templateType"    column="template_type"    />
        <result property="topic"    column="topic"    />
        <result property="topicSn"    column="topic_sn"    />
        <result property="templateId"    column="template_id"    />
        <result property="smsChannel"    column="sms_channel"    />
        <result property="smsSign"    column="sms_sign"    />
        <result property="templateContent"    column="template_content"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="stopFlag"    column="stop_flag"    />
        <result property="deleteFlag"    column="delete_flag"    />
    </resultMap>

    <sql id="selectSysMessageTemplateVo">
        select id, ent_id, dept_id, template_type, topic, topic_sn, template_id, sms_channel, sms_sign, template_content, remark, create_by, create_time, update_by, update_time, stop_flag, delete_flag from sys_message_template
    </sql>

    <select id="selectSysMessageTemplateList" parameterType="SysMessageTemplate" resultMap="SysMessageTemplateResult">
        <include refid="selectSysMessageTemplateVo"/>
        where delete_flag = 0
        <if test="entId != null "> and ent_id = #{entId}</if>
        <if test="deptId != null "> and dept_id = #{deptId}</if>
        <if test="templateType != null "> and template_type = #{templateType}</if>
        <if test="topic != null  and topic != ''"> and topic = #{topic}</if>
        <if test="topicSn != null  and topicSn != ''"> and topic_sn = #{topicSn}</if>
        <if test="templateId != null "> and template_id = #{templateId}</if>
        <if test="smsChannel != null "> and sms_channel = #{smsChannel}</if>
        <if test="smsSign != null  and smsSign != ''"> and sms_sign = #{smsSign}</if>
        <if test="templateContent != null  and templateContent != ''"> and template_content = #{templateContent}</if>
        <if test="stopFlag != null "> and stop_flag = #{stopFlag}</if>
        <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
    </select>
    
    <select id="selectSysMessageTemplateById" parameterType="Long" resultMap="SysMessageTemplateResult">
        <include refid="selectSysMessageTemplateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysMessageTemplate" parameterType="SysMessageTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into sys_message_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entId != null">ent_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="templateType != null">template_type,</if>
            <if test="topic != null">topic,</if>
            <if test="topicSn != null">topic_sn,</if>
            <if test="templateId != null">template_id,</if>
            <if test="smsChannel != null">sms_channel,</if>
            <if test="smsSign != null">sms_sign,</if>
            <if test="templateContent != null">template_content,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="stopFlag != null">stop_flag,</if>
            <if test="deleteFlag != null">delete_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entId != null">#{entId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="templateType != null">#{templateType},</if>
            <if test="topic != null">#{topic},</if>
            <if test="topicSn != null">#{topicSn},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="smsChannel != null">#{smsChannel},</if>
            <if test="smsSign != null">#{smsSign},</if>
            <if test="templateContent != null">#{templateContent},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="stopFlag != null">#{stopFlag},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
         </trim>
    </insert>

    <update id="updateSysMessageTemplate" parameterType="SysMessageTemplate">
        update sys_message_template s
        <trim prefix="SET" suffixOverrides=",">
            <if test="entId != null">ent_id = #{entId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="templateType != null">template_type = #{templateType},</if>
            <if test="topic != null">topic = #{topic},</if>
            <if test="topicSn != null">topic_sn = #{topicSn},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="smsChannel != null">sms_channel = #{smsChannel},</if>
            <if test="smsSign != null">sms_sign = #{smsSign},</if>
            <if test="templateContent != null">template_content = #{templateContent},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="stopFlag != null">stop_flag = #{stopFlag},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
        </trim>
        where
        <!-- id 和 ids 二选一 -->
        <if test="id != null">id = #{id}</if>
        <if test="id == null">
            id in
            <foreach item="id" collection="params.ids" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </update>

    <delete id="deleteSysMessageTemplateById" parameterType="Long">
        delete from sys_message_template where id = #{id}
    </delete>

    <delete id="deleteSysMessageTemplateByIds" parameterType="String">
        delete from sys_message_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>