<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunpower.system.mapper.SysPostMapper">

	<resultMap type="com.yunpower.system.domain.SysPost" id="SysPostResult">
		<id     property="id"        	column="id"       />
		<result property="entId"    	column="ent_id"    />
		<result property="deptId"    	column="dept_id"    />
		<result property="postName"    	column="post_name"    />
		<result property="postSn"    	column="post_sn"    />
		<result property="orderNum"    	column="order_num"    />
		<result property="remark"    	column="remark"    />
		<result property="createBy"    	column="create_by"    />
		<result property="createTime"	column="create_time"    />
		<result property="updateBy"    	column="update_by"    />
		<result property="updateTime"   column="update_time"    />
		<result property="stopFlag"    	column="stop_flag"    />
		<result property="deleteFlag"   column="delete_flag"    />
	</resultMap>
	
	<sql id="selectPostVo">
        select id, ent_id, dept_id, post_name, post_sn, order_num, remark, create_by, create_time, update_by, update_time, stop_flag, delete_flag
        from sys_post
    </sql>
	
	<select id="selectPostList" parameterType="SysPost" resultMap="SysPostResult">
	    <include refid="selectPostVo"/>
		where delete_flag = 0
		<if test="postName != null and postName != ''">
			AND post_name like concat('%', #{postName}, '%')
		</if>
		<if test="postSn != null and postSn != ''">
			AND post_sn like concat('%', #{postSn}, '%')
		</if>
		<if test="deptId != null and deptId != ''">
			AND dept_id = #{deptId}
		</if>
		<if test="stopFlag != null and stopFlag != ''">
			AND stop_flag = #{stopFlag}
		</if>
		order by order_num asc
	</select>
	
	<select id="selectPostAll" resultMap="SysPostResult">
		<include refid="selectPostVo"/>
		where delete_flag = 0
	</select>
	
	<select id="selectPostById" parameterType="Long" resultMap="SysPostResult">
		<include refid="selectPostVo"/>
		where id = #{postId}
	</select>
	
	<select id="selectPostListByUserId" parameterType="Long" resultType="Long">
		select p.id
        from sys_post p
	        left join sys_user_post up on up.post_id = p.id
	        left join sys_user u on u.id = up.user_id
	    where u.id = #{userId}
	</select>
	
	<select id="selectPostsByUserName" parameterType="String" resultMap="SysPostResult">
		select p.id, p.post_name, p.post_sn
		from sys_post p
			 left join sys_user_post up on up.post_id = p.id
			 left join sys_user u on u.id = up.user_id
		where u.logon_name = #{userName}
	</select>

	<!-- 校验岗位名称是否存在 -->
	<select id="checkPostNameUnique" parameterType="String" resultMap="SysPostResult">
		<include refid="selectPostVo"/>
		where post_name = #{postName} limit 1
	</select>

	<!-- 校验岗位编码是否存在 -->
	<select id="checkPostCodeUnique" parameterType="String" resultMap="SysPostResult">
		<include refid="selectPostVo"/>
		where post_sn = #{postCode} limit 1
	</select>

 	<insert id="insertPost" parameterType="SysPost" useGeneratedKeys="true" keyProperty="id">
		insert into sys_post
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="entId != null">ent_id,</if>
			<if test="deptId != null">dept_id,</if>
			<if test="postName != null">post_name,</if>
			<if test="postSn != null">post_sn,</if>
			<if test="orderNum != null">order_num,</if>
			<if test="remark != null">remark,</if>
			<if test="createBy != null">create_by,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="updateTime != null">update_time,</if>
			<if test="stopFlag != null">stop_flag,</if>
			<if test="deleteFlag != null">delete_flag,</if>
			create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="entId != null">#{entId},</if>
			<if test="deptId != null">#{deptId},</if>
			<if test="postName != null">#{postName},</if>
			<if test="postSn != null">#{postSn},</if>
			<if test="orderNum != null">#{orderNum},</if>
			<if test="remark != null">#{remark},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="stopFlag != null">#{stopFlag},</if>
			<if test="deleteFlag != null">#{deleteFlag},</if>
			sysdate()
		</trim>
	</insert>

	<update id="updatePost" parameterType="SysPost">
		update sys_post
		<trim prefix="SET" suffixOverrides=",">
			<if test="entId != null">ent_id = #{entId},</if>
			<if test="deptId != null">dept_id = #{deptId},</if>
			<if test="postName != null">post_name = #{postName},</if>
			<if test="postSn != null">post_sn = #{postSn},</if>
			<if test="orderNum != null">order_num = #{orderNum},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="createBy != null">create_by = #{createBy},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateBy != null">update_by = #{updateBy},</if>
			<if test="stopFlag != null">stop_flag = #{stopFlag},</if>
			<if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
			update_time = sysdate()
		</trim>
		where id = #{id}
	</update>

	<delete id="deletePostById" parameterType="Long">
		delete from sys_post where id = #{postId}
	</delete>
	
	<delete id="deletePostByIds" parameterType="Long">
 		delete from sys_post where id in
 		<foreach collection="array" item="postId" open="(" separator="," close=")">
 			#{postId}
        </foreach> 
 	</delete>

</mapper> 